# OS
.DS_Store
Thumbs.db

# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar
local.properties

# IDE
*.iml
.idea/

# Android/NDK
*.apk
*.ap_
*.aab
*.dex
*.class
captures/
.externalNativeBuild/
.cxx/
obj/

# Logs / profiling
*.log
*.hprof

# Keystore
*.jks
*.keystore
.signing/

# Misc
out/

# Keep Room schemas under version control
!app/schemas/**

*.json